h1 {
  color: white;
  color: #BADDAD;
  background-color: rgba(255, 125, 200, 1);
  background-color: rgb(255, 125, 200);
  background-color: hsl(360, 100%, 100%);
}

body {
  background-image: url(../imgs/dog-two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

figure {
  width: 200px;
}
img {
  width: 200px;
}
figcaption {
  text-align: center;
}
