/*@import url(https://fonts.googleapis.com/css?family=Lobster); */
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
/* This is another way to import google fonts (rather than link tag in html) */

* {
  color: navy blue;
}

html {

}

h1 {
  background-color: pink;
}

p {
  font-family: 'Indie Flower', monospace;
}

#headerOne {
  background-color: purple;
}

.header, .bacon {

}

.bacon {

}

.list > li {

}

.list section {

}

li[name='blue'] {

}

li:hover {
  cursor: crosshair;
}

li:link {

}

li:visited {

}
